{% extends 'index.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <h5>Verseny név: <span class="t1">{{ tournament_name }}</span></h5>
    <h5>Választott sportág: {{ chosen_sport }}</h5>
    <h5>Választott formátum: {{ chosen_format }}</h5>
    <h5>Megadott nevek:</h5>
    <ul>
        {% for name in names %}
            <li>{{ name }}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('enter_results') }}" method="GET">
        <button type="submit" class="btn btn-primary">Eredmények felvétele</button>
    </form>
{% endblock content %}




